<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="CSGO500" type="System.Configuration.NameValueSectionHandler" />
    <section name="BotSettings" type="System.Configuration.NameValueSectionHandler" />
    <section name="SteamSettings" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>

  <BotSettings>
    <add key="Timer" value="5000" />
  </BotSettings>

  <CSGO500>
    <add key="express.sid" value="AAA" />
  </CSGO500>

  <SteamSettings>
    <add key="sessionid" value ="" />
    <add key="steamLoginSecure" value ="" />
    <add key="steamRememberLogin" value ="" />
    <add key="steamMachineAuth" value ="" />
    <add key="idSteam64" value ="" />
  </SteamSettings>
</configuration>